rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow create: if true;
      allow read: if false;
      allow delete: if false;
      allow update: if false;
    }
  }
}